<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File List</title>
</head>
<body>
    <h1>File Moving Result</h1>
    <div>
        <p th:text="'Total files: '+${files.size()}">Total files:  10</p>
    </div>
    <table>
        <thead>
            <tr>
                <td>FileName</td>
            </tr>
        </thead>
        <tr th:each="file : ${files}">
            <td th:text="${file.getName()}">
                FILEyyMMdd-HHmmssF.MP4
            </td>
        </tr>
    </table>
</body>
</html>